{{ define "main" }}
  <div class="pub-container">

    <section id="working-papers">
      <h2>Working Papers</h2>
      {{< publication_list publication_type="working-paper" >}}
    </section>

    <section id="published-articles" style="margin-top: 3em;">
      <h2>Published Articles</h2>
      {{< publication_list publication_type="journal-article" >}}
    </section>

    <section id="ongoing-projects" style="margin-top: 3em;">
      <h2>Ongoing Projects</h2>
      {{< publication_list publication_type="project" >}}
    </section>
 
  </div>
{{ end }}
